.education-skills-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 20px; 
    text-align: center; 

}

.education-skills-container {
    background-color: transparent;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: fit-content;
    max-width: 90%;
    border: 2px solid black;
}

.education-skills-section h2 {
    font-size: 2rem; 
    color: #333; 
    margin-bottom: 40px; 
}

.education h3,
.skills h3 {
    font-size: 1.5rem; 
    color: #666;
    margin-bottom: 20px; 
}




.education strong,
.skills strong {
    font-weight: bold;
    color: #333;
}

.education p,
.skills p {
    margin: 10px 0; 
}

.education ul,
.skills ul {
    list-style: none; 
    padding: 0; 
    text-align: center; 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.education li,
.skills li {
    margin-left: 0; 
    margin-right: 10px; 
    display: block;
    width: 100%; 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
