.experience-projects-section {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    padding: 50px 20px; 
    text-align: center; 
}

.experience-container {
    margin-top: 20px; 
    background-color: transparent;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: fit-content;
    margin-left: 185px;
    margin-right: 185px;
    border: 2px solid black; 
}

.experience-projects-section h2 {
    font-size: 2rem; 
    color: #333;
    margin-bottom: 40px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.experience,
.projects {
    margin-bottom: 40px; 
}

.experience h3,
.projects h3 {
    font-size: 1.2rem;
    color: #666; 
    margin-bottom: 20px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.experience div,
.projects div {
    margin-bottom: 20px; 
}

.experience h4,
.projects h4 {
    font-size: 1.2rem; 
    color: #444; 
    margin-bottom: 10px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.experience p,
.projects p {
    font-size: 1.2rem;
    color: #666;
    line-height: 1.6; 
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


