/* src/components/Extracurriculars.css */
.extracurriculars-section {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    padding: 50px 20px; 
    text-align: center; 
    z-index: 1;
}

.extracurriculars-container {
    margin-top: 20px; 
    background-color: transparent;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: fit-content;
    max-width: 70%;
    border: 2px solid black; 
}


.extracurriculars-section h2 {
    font-size: 2rem; 
    color: #333; 
    margin-bottom: 40px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.extracurriculars-section p {
    font-size: 1.2rem; 
    color: #666; 
    line-height: 1.6; 
    margin-bottom: 20px; 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
