/* Resto de estilos para HeroSection */
.hero-section {
    position:static;
    padding: 400px 20px 50px; 
    text-align: center;
    z-index: 10; 
}

.hero-section h1 {
    font-size: 2rem;
    color: black;
    margin-bottom: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    z-index: 10;
}

.hero-section p {
    font-size: 1.2rem;
    color: black;
    line-height: 1.6;
    width: 900px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 10;
}