.navbar-container {
    position: fixed; 
    top: 15px; 
    left: 50%; 
    transform: translateX(-50%); 
    background-color: white; 
    padding: 10px 10px;
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    z-index: 1000; 
    width: fit-content; 
    max-width: 90%; 
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center; 
}

.navbar li {
    margin-left: 25px; 
    margin-right: 25px;
}

.navbar img {
    width: 40px; 
    height: auto;
    transition: transform 0.4s, filter 0.3s; 
}

.navbar img:hover {
    transform: scale(1.4); 
    filter: hue-rotate(180deg);
}
